<app-loading *ngIf="loading"></app-loading>

<div class="row row-cols-1 row-cols-md-6 g-4 mt-5" *ngIf="!loading">
    <div class="col" *ngFor="let campeon of campeones">
        <div class="card">
            <img src="../../../assets/img/champion/{{campeon.id}}.png" class="card-img-top" alt="{{campeon.name}}">
            <div class="card-body">
                <h5 class="card-title">{{campeon.name}}</h5>
                <p class="card-text">{{campeon.blurb}}</p>

                <div class="d-grid gap-2 mx-auto">
                    <button class="btn btn-outline-info btn-block" (click)="verCampeon(campeon.id)">Ver más</button>
                </div>

            </div>
        </div>
    </div>
</div>