<app-loading *ngIf="loading"></app-loading>

<div class="row justify-content-center mt-3" *ngIf="!loading && existeInvovador">
    <div class="col-2 align-self-center">
        <img class="icon" src="../../../assets/img/profileicon/{{invocador.profileIconId}}.png" alt="">
    </div>
    <div class="col-4 align-self-center">
        <h2>{{invocador.name}}</h2>
    </div>
</div>


<div class="row justify-content-center mt-3" *ngIf="!loading && existeInvovador">
    <div class="col align-self-center mt-3" *ngFor="let maestria of maestriaCampeones; let i = index">
        <div class="card" style="width: 18rem;">
            <div><img src="../../../assets/img/tiles/{{campeones[i].id}}_1.jpg" class="card-img-top" alt="{{campeones[i].name}}">
            </div>
            <div class="card-body">
                <h5 class="card-title">{{campeones[i].name}}</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Nivel de maestria: {{maestria.championLevel}}</li>
                <li class="list-group-item">Puntos de Maestria: {{maestria.championPoints | number}}</li>
                <li class="list-group-item">Ultima vez jugado: {{maestria.lastPlayTime| date: 'd/M/yy'}}</li>
            </ul>
        </div>
    </div>
</div>

<div class="mt-5" *ngIf="!loading && existeInvovador">
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let partida of partidas">
            <div class="row">
                <div class="col">
                    <p>Fecha: {{partida.info.gameCreation | date}}</p>
                    <p>Duracion: {{partida.info.gameDuration*1000 | date: 'mm:ss'}}</p>
                    <p>Modo de juego: {{partida.info.gameMode}}</p>
                    <span class="badge rounded-pill bg-success" *ngIf="partida.info.teams[0].win">Victoria</span>
                    <span class="badge rounded-pill bg-danger" *ngIf="!partida.info.teams[0].win">Derrota</span>
                </div>
                <div class="col">
                    <table class="table">
                        <tbody>
                            <tr *ngFor="let participante of partida.info.participants; let i = index">
                                <td *ngIf="i < 5"><img src="../../../assets/img/tiles/{{participante.championName}}_0.jpg" width="50px" height="50px" alt="{{campeones[0].name}}"></td>
                                <td *ngIf="i < 5">{{participante.championName}}</td>
                                <td *ngIf="i < 5"> Lvl: {{participante.champLevel}}</td>
                                <td *ngIf="i < 5">{{participante.deaths}}/{{participante.kills}}/{{participante.assists}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col">
                    <table class="table">
                        <tbody>
                            <tr *ngFor="let participante of partida.info.participants; let i = index">
                                <td *ngIf="i >= 5"><img src="../../../assets/img/tiles/{{participante.championName}}_0.jpg" width="50px" height="50px" alt="{{campeones[0].name}}"></td>
                                <td *ngIf="i >= 5">{{participante.championName}}</td>
                                <td *ngIf="i >= 5">Lvl: {{participante.champLevel}}</td>
                                <td *ngIf="i >= 5">{{participante.deaths}}/{{participante.kills}}/{{participante.assists}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="mt-5" *ngIf="!existeInvovador">
    <h1>El nombre de invocador no existe</h1>
</div>